<div class="menu" [ngStyle]="{'left.px': x, 'top.px': y}">
    <ul class="list-group">
      <li class="list-group-item list-group-item-action d-flex justify-content-                                                                          between align-items-center">
        1.option
        <span class="badge badge-primary badge-pill">optional text</span>
      </li>
      <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        2.option
        <span class="badge badge-primary badge-pill">optional text</span>
      </li>
      <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        3.option
        <span class="badge badge-primary badge-pill">optional text</span>
      </li>
    </ul>
  </div>