.orderItemShort {
    width: 100px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0px;
    line-height: 1.5em;
    font-size: small;
    font-weight: normal;
}

.orderItemShortSecondLine {
    width: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    line-height: 1.5em;
    font-size: small;
    font-weight: normal;
}
.orderItemDropDownFirstLine {
    width: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    line-height: 1.5em;
    font-size: small;
    font-weight: normal;
}

.orderItemDropDownCategory {
    width: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    line-height: 1.5em;
    font-size: small;
    font-weight: normal;
}

.orderItemAverage, .orderItemDropdown {
    width: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    line-height: 1.5em;
    font-size: small;
    font-weight: normal;
}

.orderItemText {
    width: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    line-height: 1.5em;
}
