<div class="d-flex mt-5" style="margin-left: 25px;">
    <div class="col-3">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="text-center mb-4">
          <h1 class="h3 mb-3 font-weight-normal">add a new employee</h1>
        </div>

          <app-text-input formControlName="aadharNo" [label]="'aadharNo'"></app-text-input>
          <app-text-input formControlName="email" [label]="'email'" [type]="'email'"></app-text-input>
          <app-text-input formControlName="mobile" [label]="'mobile'" [type]="'mobile'"></app-text-input>
          <app-text-input formControlName="passportNo" [label]="'PP No'"></app-text-input>
          <app-text-input formControlName="gender" [label]="'gender'"></app-text-input>        
          <app-text-input formControlName="firstName" [label]="'First Name'"></app-text-input>
          <app-text-input formControlName="secondName" [label]="'Second Name'"></app-text-input>
          <app-text-input formControlName="familyName" [label]="'Family Name'"></app-text-input>
          <app-text-input formControlName="designation" [label]="'Position'"></app-text-input>
          <app-text-input formControlName="knownAs" [label]="'Known As'"></app-text-input>
          <app-text-input formControlName="dateOfBirth" [label]="'Date of birth'"></app-text-input>
          <app-text-input formControlName="dateOfJoining" [label]="'Joined On'"></app-text-input>
<!--          <app-text-input formControlName="address1" [label]="'Address'"></app-text-input>
          <app-text-input formControlName="address2" [label]="'Street Name'"></app-text-input>
          <app-text-input formControlName="city" [label]="'City'"></app-text-input>
          <app-text-input formControlName="pin" [label]="'PIN'"></app-text-input>
          <app-text-input formControlName="state" [label]="'State'"></app-text-input>
-->
          <!-- <app-text-input formControlName="username" [label]="'User Name'"></app-text-input>
          <app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input>
          -->
          <div formArrayName="employeeSkills">
              <button type="button" (click)="addSkill()">add new Skill</button>
              <div *ngFor="let skill of employeeSkills; let s=index">
                  <div [formGroupName]="s">employee Skills {{s+1}}
                    <app-text-input formControlName="skillName" [label]="'Skill Name'"></app-text-input>
                    <app-text-input formControlName="expInYears" [label]="'Exp in Yrs'"></app-text-input>
                    
                    <div width="150px"><label class="radio-inline" for="proficiency">Proficiency</label></div>
                    <input type="radio" [value]="'beginner'" formControlName="proficiency" class="form-control"  
                        style="padding: 0; margin-top: 0px; margin-bottom: 0px; text-align: right; ">Beginner
                    <input type="radio" [value]="'intermediate'" formControlName="proficiency" class="form-control" 
                      style="padding: 0; margin-top: 0px; margin-bottom: 0px; text-align: right;">Intermediate
                    <input type="radio" [value]="'advanced'" formControlName="proficiency" class="form-control" 
                      style="padding: 0; margin-top: 0px; margin-bottom: 0px; text-align: right;">Advanced
                      <button (click)="removeSkill(s)">Remove</button>
                  </div>
              </div>
          </div>
          <div formArrayName="addresses">
            <button type="button" (click)="addAddress()">new address</button>
            <div *ngFor="let add of addresses.controls; let i=index">
              <div [formGroupName]="i"> Address {{i+1}}
                <app-text-input formControlName="addressType" [label]="'Address Type'"></app-text-input>
                <app-text-input formControlName="address1" [label]="'Address'"></app-text-input>
                <app-text-input formControlName="address2" [label]="'Street Address'"></app-text-input>
                <app-text-input formControlName="city" [label]="'City'"></app-text-input>
                <app-text-input formControlName="pin" [label]="'PIN'"></app-text-input>
                <app-text-input formControlName="state" [label]="'State'"></app-text-input>
         
                <button (click)="removeAddress(i)">Remove</button>
              </div>
            </div>
          </div>
            <ul class="text-danger list-unstyled" *ngIf="errors">
                <li *ngFor="let error of errors"> {{error}} </li>
            </ul>
        <button [disabled]="form.invalid" class="btn btn-lg btn-primary btn-block" type="submit">
          Save
        </button>
      </form>
    </div>
  </div>


