.orderItemShort {
    width: 120px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    line-height: 1.5em;
}

.orderItemAverage, .orderItemDropdown {
    width: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    line-height: 1.5em;
}

.orderItemText {
    width: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    line-height: 1.5em;
}