<div class="container">
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <table class="table table-bordered">
            <tr class="panelHeader" colspan="5">{{pageTitle}}</tr>
            <tr>
                <td> <app-text-input formControlName="passportNo" [label]="'PP No'"></app-text-input> </td>
                <td> <app-text-input formControlName="mobileNo" [label]="'mobileNo'"></app-text-input> </td>
                <td> <app-text-input formControlName="email" [label]="'email'"></app-text-input> </td>
                <td> <app-text-input formControlName="aadharNo" [label]="'Aadhar No'"></app-text-input> </td>
                <td> <app-text-input formControlName="ecnr" [label]="'Emig Status'"></app-text-input> </td>   
                <td></td> 
            </tr>
            <tr>
                <td> <app-text-input formControlName="gender" [label]="'Gender'"></app-text-input> </td>        
                <td> <app-text-input formControlName="firstName" [label]="'First Name'"></app-text-input> </td>
                <td> <app-text-input formControlName="secondName" [label]="'Second Name'"></app-text-input> </td>
                <td> <app-text-input formControlName="familyName" [label]="'Family Name'"></app-text-input> </td>
                <td> <app-text-input formControlName="knownAs" [label]="'Known As'"></app-text-input> </td>
                <td> <app-text-input formControlName="dateOfBirth" [label]="'Date of birth'"></app-text-input> </td>
            </tr>
            <tr>    
                <td> 
                    <div class="form-group">
                        <label>Introduced by</label>
                        <select class="form-control" 
                            formControlName="referredById" placeholder="Referred by">
                            <option *ngFor="let item of recruitmentAgents" [ngValue]=item.id>
                                {{item.customerName}}
                            </option>
                        </select>
                    </div>
                </td>    
                <td> 
                    <div class="form-group">
                        <label>Source</label>
                        <select class="form-control" 
                            formControlName="sourceId" placeholder="Source">
                            <option *ngFor="let item of candidateSources" [ngValue]=item.id>
                                {{item.name}}
                            </option>
                        </select>
                    </div>
                </td>    
                <td> <app-text-input formControlName="applicationNo" [label]="'Application No'"></app-text-input> </td>
                <td> <app-text-input formControlName="applicationDated" [label]="'App Dated'"></app-text-input> </td>
                <td><app-text-input formControlName="id" [label]="'id'"></app-text-input></td>
                <td></td>
            </tr>
      </table>
      <table>
        <tr >
            <td> <app-text-input formControlName="address1" [label]="'Address'"></app-text-input> </td>
            <td> <app-text-input formControlName="address2" [label]="'Street address'"></app-text-input> </td>
            <td> <app-text-input formControlName="city" [label]="'City'"></app-text-input> </td>
            <td> <app-text-input formControlName="pin" [label]="'PIN'"></app-text-input> </td>
            <td> <app-text-input formControlName="state" [label]="'state'"></app-text-input> </td>
            <td> <app-text-input formControlName="country" [label]="'country'"></app-text-input> </td>
        </tr>
    </table>
        <table class="table table-bordered" formArrayName="candidateCategories" style="margin-top: 20px; width: 800px;">
            <tr>
                <th colspan="3" class="panelHeader">Categories</th>
                <th width="125px"><button type="button" (click)="pushNewCategory()" 
                    class="fa fa-plus" ></button></th>
            </tr>
            <tr *ngFor="let prof of candidateCategories().controls; let p=index" [formGroupName]="p">
                <hr *ngIf="p>0">
                <th style="margin: 0px; padding: 0px; line-height: 2.5em; width: 400px;">
                    <select class="form-control" 
                        formControlName="categoryId" placeholder="Profession">
                        <option *ngFor="let item of candidateProfessions" [ngValue]=item.id>
                            {{item.name}}
                        </option>
                    </select>
                </th>
                <th></th>
                <th><button (click)="removeCategory(p)" class="fa fa-trash pull-right"></button></th>    
            </tr>
        </table>

        <button [disabled]="createForm.invalid" type="submit" class="btn btn-success">Submit</button>

    </form>
    <div style="font-size: xx-small">
        {{this.createForm.value | json}}
        {{this.createForm.valid}}
    </div>
</div>
  
