
<div class="d-flex align-items-center justify-content-center" style="margin-left: 10px;">
    <app-paging-header
        [totalCount]="totalCount"
        [pageSize]="this.enquiryParams.pageSize"
        [pageNumber]="this.enquiryParams.pageNumber">
    </app-paging-header>
    
    <div class="form-inline" *ngIf="enquiries" >
        <input (keyup.enter)="onSearch()" class="form-control" 
            #search placeholder="Search" type="text" >
        <button (click)="onSearch()" class="btn btn-outline-primary">Search</button>
        <button (click)="onReset()" class="btn btn-outline-success ml-2">Reset</button>
        <button routerLink="/enquiryCreate" class="btn btn-outline-success ml-2">New Enquiry</button>
        <button routerLink="/review" class="btn btn-outline-success ml-2">Contract Reviews</button>
    </div>
</div>

<div class="header form-inline">
    <div class="colShortTitle">Enquiry No</div>
    <div class="colShortTitle">Enquiry Date</div>
    <div class="colAverageTitle">Customer</div>
    <div class="colShortTitle">City</div>
    <div class="colShortTitle">Country</div>
    <div class="colShortTitle">Complete By</div>
    <div class="colShortTitle">Review status</div>
    <div class="colShortTitle">Status</div>
    <div class="colShortTitle">Assigned</div>
    <div class="colShortTitle">Actions</div>
</div>

<div class="colWhole form-inline" *ngFor="let item of enquiries" >
    <div class="row" >      
        <div class="colShort" style="cursor: pointer;" routerLink="/enquiryEdit/{{item.id}}">{{item.enquiryNo}} </div>  
        <div class="colShort">{{item.enquiryDate | date}}</div>
        <div class="colAverage" style="cursor: pointer;" routerLink="/reviewEdit/{{item.id}}">{{item.customerName}}</div>
        <div class="colShort">{{item.cityName}}</div>
        <div class="colShort">{{item.countryName}}</div>
        <div class="colShort">{{item.completeBy | date}}</div>
        <div class="colShort">{{item.reviewStatus}}</div>
        <div class="colShort">{{item.enquiryStatus}}</div>
        <div class="colShort">{{item.assigned}}</div>
        <div class="colShort" style="cursor: pointer">
            <button class="btn btn-sm btn-outline-secondary fa fa-pencil" (click)="editButtonClick(item.id)" ></button>  
            <button class="btn btn-sm btn-outline-secondary fa fa-trash" routerLink="/enquiry/{{item.id}}"></button>  
            <button class="btn btn-sm btn-outline-secondary fa fa-envelope" routerLink="/emailCreate/{{item.id}}"></button>
        </div>
<!--
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  This is the expansion title
                </mat-panel-title>
                <mat-panel-description>
                  This is a summary of the content
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Self aware panel
                </mat-panel-title>
                <mat-panel-description>
                  Currently I am {{panelOpenState ? 'open' : 'closed'}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>I'm visible because I am open</p>
            </mat-expansion-panel>
          </mat-accordion>
-->     
    </div>
</div>

<div class="d-flex justify-content-center my-3" *ngIf="this.totalCount > 0">
    <app-pager
        [pageSize]="enquiryParams.pageSize"
        [pageNumber]="enquiryParams.pageNumber"
        [totalCount]="totalCount"
        (pageChanged)="onPageChanged($event)"
        >
    </app-pager>
</div>


