<div>{{pageTitle}}</div>
<div class="form-inline" style="margin-left: 25px; padding-left: 10px; padding-right: 25px; font-size: small;">
    <form *ngIf="email" [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div>
                <app-text-input formControlName="id" [label]="'id'"></app-text-input>
            </div>
            <div>
                <app-text-input formControlName="dateSent" [label]="'Dated'"></app-text-input>
            </div>
        </div>
        <div class="row">
            <div>
                <app-text-input formControlName="id" [label]="'id'"></app-text-input>
            </div>
            <div>
                <app-text-input formControlName="dateSent" [label]="'Dated'"></app-text-input>
            </div>
        </div>
        <div class="row">
            <div>
                <app-text-input formControlName="senderEmailAddress" [label]="'Sender Email'"></app-text-input>
            </div>
            <div>
                <app-text-input formControlName="toEmailList" [label]="'To'"></app-text-input>
            </div>
        </div>
        <div class="row">
            <div>
                <app-text-input formControlName="ccEmailList" [label]="'CC'"></app-text-input>
            </div>
            <div>
                <app-text-input formControlName="bccEmailList" [label]="'BCC'"></app-text-input>
            </div>
        </div>
        <div class="row">
            <app-text-input formControlName="subject" [label]="'Subject'"></app-text-input>
        </div>
        <div class="row">
            <textarea rows="10" cols="100%" class="md-textarea form-control" matInput placeholder="Message" formControlName="messageBody" cdkTextareaAutosize
            cdkAutosizeMinRows="10"></textarea>
         </div>
        
        <button [disabled]="createForm.invalid" type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
  
<div style="font-size: xx-small">
    {{this.createForm.value | json}}
    {{this.createForm.valid}}
</div>


