.long {
    width: 205px;
    margin: 0px;
    padding: 0px;
    line-height: 1.5em;
    font-size: smaller;
    font-weight: normal;
    border-style: solid;
    border-color: rgba(41, 41, 235, 0.885);
}
td {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    border-style: solid;
    border-color: rgba(41, 41, 235, 0.885);
}
.average {
    width: 70px;
    margin: 0px;
    padding: 0px;
    line-height: 1.5em;
    font-size: smaller;
    font-weight: normal;
    border-style: solid;
    border-color: rgba(41, 41, 235, 0.885);
}
.short {
    width: 35px;
    margin: 0px;
    padding: 0px;
    line-height: 1.5em;
    font-size: smaller;
    font-weight: normal;
    border-style: solid;
    border-color: rgba(41, 41, 235, 0.885);
}
