<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="text-center mb-4">
          <h1 class="h3 mb-3 font-weight-normal">Edit category </h1>
        </div>
        
        <div class="form-group">
          <label for="name">Category Name:</label>
          <input type="text" id="name" formControlName="name" [(ngModel)]="profession.name" class="form-control" placeholder="category name" >
        </div>


        <div class="form-group">
            <label for="industryTypeId">Industry Type:</label>
            <select formControlName="industryTypeId" [(ngModel)]="profession.industryTypeId" class="form-control" >
                <option *ngFor="let item of indTypes" value="item.id">{{item.name}}</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="skillLevelId">Skill Level:</label>
            <select formControlName="skillLevelId" ([ngModel])="profession.skillLevelId" class="form-control">
                <option *ngFor="let item of skLevels" value="item.id">{{item.name}}</option>
            </select>
        </div>
    
        <ul class="text-danger list-unstyled" *ngIf="errors">
            <li *ngFor="let error of errors">
                {{error}}
            </li>
        </ul>
       
        <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
      </form>
    </div>
  </div>
