.cart-no{
    position:absolute;
    min-width: 25px;
    min-height: 25px;
    background:color blue;
    border-radius: 50%;
    color:white;
    text-align: center;
    top: -12px;
    right: 32px;
}