<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <table class="table table-bordered">
            <tr class="panelHeader" colspan="5">{{pageTitle}}</tr>
            <tr class="panel-body">
                <td> <app-text-input formControlName="customerType" [label]="'Customer Type'"></app-text-input> </td>
                <td> <app-text-input formControlName="customerName" [label]="'Customer Name'"></app-text-input> </td>
                <td> <app-text-input formControlName="knownAs" [label]="'Known As'"></app-text-input> </td>
                <td> <app-text-input formControlName="introducedBy" [label]="'Introduced By'"></app-text-input> </td>
                <td> <app-text-input formControlName="companyUrl" [label]="'Company website'"></app-text-input> </td>
            </tr>
            <tr class="panel-body">
                <td> <app-text-input formControlName="address1" [label]="'Address'"></app-text-input> </td>        
                <td> <app-text-input formControlName="address2" [label]="'Street Address'"></app-text-input> </td>
                <td> <app-text-input formControlName="city" [label]="'City'"></app-text-input> </td>
                <td> <app-text-input formControlName="pin" [label]="'PIN'"></app-text-input> </td>
                <td> <app-text-input formControlName="state" [label]="'state'"></app-text-input> </td>
            </tr>
            <tr class="panel-body">
                <td><app-text-input formControlName="country" [label]="'country'"></app-text-input> </td>
                <td colspan="2"><app-text-input formControlName="description" [label]="'description'"></app-text-input></td>
                <td><app-text-input formControlName="addedOn" [label]="'Added On'"></app-text-input> </td>
                <td><app-text-input formControlName="id" [label]="'id'"></app-text-input> </td>
            </tr>
      </table>
       <table class="table table-bordered" formArrayName="customerIndustryTypes" style="margin-top: 0px; margin-bottom: 0px; width: 800px;">
            <tr>
                <th colspan="3" class="panelHeader">Core Activities</th>
                <th width="125px"><button type="button" (click)="pushNewIndustryType()" 
                    class="fa fa-plus" ></button></th>
            </tr>
            <tr *ngFor="let ind of customerIndustryTypes().controls; let i=index" [formGroupName]="i">
                <hr *ngIf="i>0">
                <th style="margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 2em; width: 400px;">
                    <select class="form-control" formControlName="industryTypeId" placeholder="Industry">
                        <option *ngFor="let item of indTypes" [ngValue]=item.id>
                            {{item.name}}
                        </option>
                    </select>
                </th>
                <th></th>
                <th><button (click)="removeIndustryType(i)" class="fa fa-trash pull-right"></button></th>    
            </tr>
        </table>

        <table class="table table-bordered" formArrayName="customerOfficials" style="margin-left: 20px; width: 100%;">
            <tr>
                <th colspan="3" class="panelHeader">Officials</th>
                <th width="125px"><button type="button" (click)="pushNewCustomerOfficial()" 
                    class="fa fa-plus" ></button></th>
            </tr>
            <div *ngFor="let ind of customerOfficials().controls; let j=index" [formGroupName]="j">
                <hr *ngIf="j>0">
                <tr>
                    <td width=100px> <app-text-input formControlName="gender" [label]="'Gender'"></app-text-input> </td>
                    <td colspan="2" width=240px> <app-text-input formControlName="name" [label]="'Official Name'"></app-text-input> </td>
                    <td width=240px> <app-text-input formControlName="designation" [label]="'designation'"></app-text-input> </td>
                    <td width=240px> <app-text-input formControlName="phone" [label]="'Phone'"></app-text-input> </td>
                    <td><app-text-input formControlName="mobile" [label]="'mobile'"></app-text-input> </td>
                    <th width=70px><button (click)="removeCustomerOfficial(j)" class="fa fa-trash pull-right"></button></th>    
                </tr>
                <tr>
                    <td colspan="3"><app-text-input formControlName="mobile2" [label]="'mobile'"></app-text-input> </td>
                    <td><app-text-input formControlName="email" [label]="'email'"></app-text-input> </td>
                    <td><app-text-input formControlName="personalEmail" [label]="'Personal Email'"></app-text-input> </td>
                    <td><app-text-input formControlName="personalMobile" [label]="'Personal Mobile'"></app-text-input> </td>
                    <td></td>
                </tr>
    
            </div>
        </table>

        <button [disabled]="form.invalid" type="submit" class="btn btn-success">Submit</button>

    </form>
    <div style="font-size: smaller">
        {{this.form.value | json}}
        {{this.form.valid}}
    </div>
</div>
  
